# Dependencias
node_modules

# Build output
dist
build

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Control de versiones
.git
.gitignore

# Variables de entorno
.env
.env.*
